name: Pull Request Checks

on:
  pull_request:

permissions:
  contents: read

jobs:
  block-fixup:
    name: Block fixup commits
    if: github.actor != 'github-actions[bot]' && github.actor != 'dependabot[bot]'
    runs-on: ubuntu-latest

    steps:
      - name: Debug Actor
        run: |
          echo "The entity that created this PR is: ${{ github.actor }}"
          echo "Is this a bot? ${{ github.actor == 'github-actions[bot]' }}"
      
      - name: Checkout
        uses: actions/checkout@v4

      - name: Block Fixup Commit Merge
        # https://github.com/13rac1/block-fixup-merge-action
        uses: 13rac1/block-fixup-merge-action@v2.0.0
