# Workflowの名前
name: 'Test Warning Annotation'

on:
  # mainブランチへのpush時に実行
  push:
    branches:
      - main
  # GitHub UIから手動で実行できるようにする
  workflow_dispatch:

jobs:
  show-warning:
    # ジョブを実行する仮想環境の種類
    runs-on: ubuntu-latest
    # strategy/matrix を使用してジョブを複数回実行する
    strategy:
      matrix:
        # 'item' というキーに 'aaa' と 'bbb' を設定
        item: [aaa, bbb]
    steps:
      # 指定されたコマンドを実行して警告メッセージを出力します。
      # この特殊な形式の出力は、GitHub Actionsによって解釈され、
      # ワークフロー実行結果の「Annotations」セクションに警告として表示されます。
      - name: Show Warning Message
        run: echo "::warning title=Retried build for ${{ matrix.item }}::The first build of ${{ matrix.item }} was failed, and retried the build again.
